// Variables
$primary-color: #4caf50;
$secondary-color: #e0e0e0;

//visibility style
.unhidden {
  opacity: 1;
}

.disabled {
  background: hsl(86, 65%, 85%) !important;
  color: rgb(107, 107, 107) !important;
  cursor: auto !important;
  pointer-events: none !important;
}

//Heading Style
.heading {
  text-align: center;
}
// Form Style
.form {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  max-width: 400px;
  margin: 20px auto;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: black !important;
  }
}

// Input Style
.input_field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 0.2px solid lightgray;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

// Submit Button Style
.submit {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-5deg, hsl(86, 61%, 44%), hsl(86, 65%, 54%));
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
  text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);

  &:hover {
    background: linear-gradient(-5deg, hsl(86, 61%, 44%), hsl(86, 57%, 43%));
  }
  cursor: pointer;
}

// Link Style
.link {
  color: $primary-color;
  text-decoration: none;
  margin-top: 10px;
  color: black;
  display: block;
  text-align: left;
}

.links {
  margin: 0 auto;
  width: fit-content;
  .href {
    color: blue;
  }
}
