// Variables
$primary-color: #4caf50;
$secondary-color: #e0e0e0;

//visibility style
.hide {
  opacity: 0;
}
//Heading Style
.heading {
  text-align: center;
}
// Form Style
.form {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #888888;
  max-width: 400px;
  margin: 20px auto;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: black !important;
  }
}

// Input Style
.input_field {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 0.2px solid lightgray;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

// Submit Button Style
.submit {
  margin-bottom: 2em !important;
}

// Link Style
.link {
  color: $primary-color;
  text-decoration: none;
  margin-top: 10px;
  color: black;
  display: block;
  text-align: left;
}
.href,
.resend {
  color: blue;
  cursor: pointer;
}

.resend {
  margin-top: 1em;
}

.links {
  margin: 0 auto;
  width: fit-content;
}

.wait {
  margin-top: 1em;
  color: black;
  cursor: auto;
}
